.col-12.position-relative
	.news-slider
		.news-item.card.d-block.border-0.mt-5.with-overlay.overflow-hidden.rounded-0.p-0
			img(src="images/news-1.png", alt="image")
			a(href="#").news-item-tag
				svg
					use(xlink:href="images/sprite.svg#icon-h")
			.news-item-desc
				h4: a(href="#").text-decoration-none Die Headline erkl채rt den Inhalt in zwei oder drei Zeilen 
				a(href="#").btn.btn-light.btn-sm.text-start
					|Mehr
					svg
						use(xlink:href="images/sprite.svg#arrow-right-black")

		.news-item.card.d-block.border-0.mt-5.with-overlay.overflow-hidden.rounded-0.p-0
			img(src="images/news-2.png", alt="image")
			.news-item-desc
				h4: a(href="#").text-decoration-none Die Headline erkl채rt den Inhalt in zwei oder drei Zeilen 
				a(href="#").btn.btn-light.btn-sm.text-start
					|Mehr
					svg
						use(xlink:href="images/sprite.svg#arrow-right-black")

		.news-item.card.d-block.border-0.mt-5.with-overlay.overflow-hidden.rounded-0.p-0
			img(src="images/news-3.png", alt="image")
			a(href="#").news-item-tag
				svg
					use(xlink:href="images/sprite.svg#icon-t")
			.news-item-desc
				h4: a(href="#").text-decoration-none Die Headline erkl채rt den Inhalt in zwei oder drei Zeilen 
				a(href="#").btn.btn-light.btn-sm.text-start
					|Mehr
					svg
						use(xlink:href="images/sprite.svg#arrow-right-black")

		.news-item.card.d-block.border-0.mt-5.with-overlay.overflow-hidden.rounded-0.p-0
			img(src="images/news-1.png", alt="image")
			a(href="#").news-item-tag
				svg
					use(xlink:href="images/sprite.svg#icon-h")
			.news-item-desc
				h4: a(href="#").text-decoration-none Die Headline erkl채rt den Inhalt in zwei oder drei Zeilen 
				a(href="#").btn.btn-light.btn-sm.text-start
					|Mehr
					svg
						use(xlink:href="images/sprite.svg#arrow-right-black")

	.text-center.mt-5
		a(href="#").btn.btn-dark.text-start.d-inline-block.d-md-none
			|Alle News
			svg
				use(xlink:href="images/sprite.svg#arrow-right-dark")

	.pattern-image: img(src="images/pattern.svg", alt="pattern-image")