doctype html
html(lang='en')
	head
		include partials/head.pug
	body

		- var name_page = 'news';

		// Header start
		include partials/header.pug

		// Main page start
		main

			// Hero section
			section.hero-section.inner-hero.p-0
				.hero-slide.with-overlay
					img(src="images/history-hero.png", alt="hero-slide")
					.container
						.row
							.col-xl-6.offset-xl-3.text-center
								h1.hero-title.text-white Historie

			section.pb-5.pb-sm-0
				.container
					.row.align-items-center.pb-lg-5.pb-0
						.col-xl-11.offset-xl-1
							h2.text-center.text-md-start 100 Jahre Schwarz-Weiss Köln  
							p Was es bedeutet „never leaving Black and White“ Marcus et Cornelia in Horto ambulant
							
					.row.py-3.pb-lg-5.align-items-center
						.col-lg-6.col-md-10.offset-md-1.offset-lg-0
							.news-detail-slider.mt-0
								div: img(src="images/history-1.png", alt="history-slider")
								div: img(src="images/history-1.png", alt="history-slider")
								div: img(src="images/history-1.png", alt="history-slider")

						.col-xl-4.col-lg-6.offset-lg-0.offset-xl-1
							.news-detail
								h4 Die 1920er…
								p Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Consectetuer adipiscing elit. Aenean commodo ligula Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 

					.row.py-3.pb-lg-5.align-items-center.flex-lg-row-reverse
						.col-lg-6.col-md-10.offset-md-1.offset-lg-1
							.news-detail-slider.mt-0
								div: img(src="images/history-2.png", alt="history-slider")
								div: img(src="images/history-1.png", alt="history-slider")
								div: img(src="images/history-1.png", alt="history-slider")

						.col-xl-4.col-lg-5.offset-lg-0.offset-xl-1
							.news-detail
								h4 Die 1930er…
								p Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Consectetuer adipiscing elit. Aenean commodo ligula Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 

					.row.py-3.pb-lg-5.align-items-center
						.col-lg-6.col-md-10.offset-md-1.offset-lg-0
							.news-detail-slider.mt-0
								div: img(src="images/history-3.png", alt="history-slider")
								div: img(src="images/history-2.png", alt="history-slider")
								div: img(src="images/history-1.png", alt="history-slider")

						.col-xl-4.col-lg-6.offset-lg-0.offset-xl-1
							.news-detail
								h4 Die 1940er…
								p Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Consectetuer adipiscing elit. Aenean commodo ligula Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 

					.row.py-3.pb-lg-5.align-items-center.flex-lg-row-reverse
						.col-lg-6.col-md-10.offset-md-1.offset-lg-1
							.news-detail-slider.mt-0
								div: img(src="images/history-2.png", alt="history-slider")
								div: img(src="images/history-3.png", alt="history-slider")
								div: img(src="images/history-1.png", alt="history-slider")

						.col-xl-4.col-lg-5.offset-lg-0.offset-xl-1
							.news-detail
								h4 Die 1950er…
								p Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Consectetuer adipiscing elit. Aenean commodo ligula Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 

					.row.py-3.pb-lg-5.align-items-center
						.col-lg-6.col-md-10.offset-md-1.offset-lg-0
							.news-detail-slider.mt-0
								div: img(src="images/history-1.png", alt="history-slider")
								div: img(src="images/history-2.png", alt="history-slider")
								div: img(src="images/history-3.png", alt="history-slider")

						.col-xl-4.col-lg-6.offset-lg-0.offset-xl-1
							.news-detail
								h4 Die 1960er…
								p Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Consectetuer adipiscing elit. Aenean commodo ligula Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 

					.row.py-3.pb-lg-5.align-items-center.flex-lg-row-reverse
						.col-lg-6.col-md-10.offset-md-1.offset-lg-1
							.news-detail-slider.mt-0
								div: img(src="images/history-2.png", alt="history-slider")
								div: img(src="images/history-3.png", alt="history-slider")
								div: img(src="images/history-1.png", alt="history-slider")

						.col-xl-4.col-lg-5.offset-lg-0.offset-xl-1
							.news-detail
								h4 Die 1970er…
								p Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Consectetuer adipiscing elit. Aenean commodo ligula Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 

					.row.py-3.pb-lg-5.align-items-center
						.col-lg-6.col-md-10.offset-md-1.offset-lg-0
							.news-detail-slider.mt-0
								div: img(src="images/history-3.png", alt="history-slider")
								div: img(src="images/history-2.png", alt="history-slider")
								div: img(src="images/history-1.png", alt="history-slider")

						.col-xl-4.col-lg-6.offset-lg-0.offset-xl-1
							.news-detail
								h4 Die 2000er…
								p Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Consectetuer adipiscing elit. Aenean commodo ligula Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 

					.row.mb-5.py-3.pb-lg-5.align-items-center.flex-lg-row-reverse
						.col-lg-6.col-md-10.offset-md-1.offset-lg-1
							.news-detail-slider.mt-0
								div: img(src="images/history-2.png", alt="history-slider")
								div: img(src="images/history-3.png", alt="history-slider")
								div: img(src="images/history-1.png", alt="history-slider")

						.col-xl-4.col-lg-5.offset-lg-0.offset-xl-1
							.news-detail
								h4 100 Jahre Jubiläum…
								p Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Consectetuer adipiscing elit. Aenean commodo ligula Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
			
		// Footer
		include partials/footer.pug
		
		// Script
		include partials/scripts.pug