doctype html
html(lang='en')
	head
		include partials/head.pug
	body

		- var name_page = 'hockey';

		// Header start
		include partials/header.pug

		// Main page start
		main

			// Hero section
			section.hero-section.inner-hero.p-0
				.hero-slide.with-overlay
					img(src="images/hero-hockey-herren.png", alt="hero-slide")
					.container
						.row
							.col-xl-6.offset-xl-3.text-center
								h1.hero-title.text-white 1. Herren

			section
				.container
					.row.align-items-center
						.col-xl-10.offset-xl-1.text-center.text-md-start
							h2 Spielerübersicht 
							p Saison 2021/22

					.row.mt-5
						.col-xl-3.col-lg-4.col-sm-6
							.player-item.position-relative.h-100
								.align-items-center.d-flex.h-100.justify-content-center.position-absolute.start-0.text-white.top-0.type-of-player.w-100 Tor
						
						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.position-relative.h-100
								.align-items-center.d-flex.h-100.justify-content-center.position-absolute.start-0.text-white.top-0.type-of-player.w-100 Abwehr
						
						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.position-relative.h-100
								.align-items-center.d-flex.h-100.justify-content-center.position-absolute.start-0.text-white.top-0.type-of-player.w-100 Mittelfeld
						
						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.position-relative.h-100
								.align-items-center.d-flex.h-100.justify-content-center.position-absolute.start-0.text-white.top-0.type-of-player.w-100 Sturm
						
						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

						.col-xl-3.col-lg-4.col-sm-6
							.player-item.with-overlay
								.player-item-image.text-center: img(src="images/player.png", alt="player-photo")
								.player-item-info.bg-dark.d-flex.align-items-center.justify-content-between.text-white.position-absolute
									span Paul Freund
									.player-item-number 26

			
			section
				.container
					.row
						.col-md-4.mb-4
							.bg-grey.card.border-0.rounded-0.d-block.h-100
								.card-icon.text-center
									svg
										use(xlink:href="images/sprite.svg#assignment")
								h6.text-center Dokumente & Downloads
								ul.mb-0.p-0
									li
										a(href="#").text-dark.text-decoration-none.d-flex
											svg
												use(xlink:href="images/sprite.svg#arrow-down-black")
											span Aktuelle Corana-Regeln für den Trainingsbetrieb 

									li
										a(href="#").text-dark.text-decoration-none.d-flex
											svg
												use(xlink:href="images/sprite.svg#arrow-down-black")
											span Hallenregeln Lorem ipsum

									li
										a(href="#").text-dark.text-decoration-none.d-flex
											svg
												use(xlink:href="images/sprite.svg#arrow-down-black")
											span Übersicht Mitglieder Beiträge

						.col-md-4.mb-4
							.bg-grey.card.border-0.rounded-0.d-block.h-100
								.card-icon.text-center
									svg
										use(xlink:href="images/sprite.svg#schedule")
								h6.text-center Trainingszeiten
								ul.mb-0.p-0
									li
										a(href="#").text-dark.text-decoration-none.d-flex
											svg
												use(xlink:href="images/sprite.svg#arrow-down-black")
											span Neu: Hockey Hallen-Trainingszeiten 

									li
										a(href="#").text-dark.text-decoration-none.d-flex
											svg
												use(xlink:href="images/sprite.svg#arrow-down-black")
											span Tennis Trainingszeiten

									li
										a(href="#").text-dark.text-decoration-none.d-flex
											svg
												use(xlink:href="images/sprite.svg#arrow-down-black")
											span Lacrosse Trainingszeiten

						.col-md-4.mb-4
							.bg-grey.card.border-0.rounded-0.d-block.h-100
								.card-icon.text-center
									svg
										use(xlink:href="images/sprite.svg#question")
								h6.text-center Ansprechpartner
								.card-content
									<strong>Thomas Quinders</strong> <br> Kuhweg 20 • 50735 Köln <br> Telefon: +49.221.9762210 <br> Telefax: +49.221.9762212 <br> E-Mail: <a href="mailto: buero@kkht.de" class="text-dark text-decoration-none border-bottom">buero(at)kkht.de</a>

			
		// Footer
		include partials/footer.pug
		
		// Script
		include partials/scripts.pug