doctype html
html(lang='en')
	head
		include partials/head.pug
	body

		- var name_page = 'news';

		// Header start
		include partials/header.pug

		// Main page start
		main

			// Hero section
			section.hero-section.inner-hero.p-0
				.hero-slide.without-image
					.container
						.row.justify-content-end
							.col-xl-8.offset-xl-2.text-center.justify-content-end.pb-0
								h1.hero-title.mb-3 Vorstand & Geschäftsführung

			section.py-0.py-sm-5
				.container
					.row
						.col-xl-10.offset-xl-1
							p.fs-18 Auf der Mitgliederversammlung des KKHT im März 2017 wurden in den Vorstand gewählt / bestätigt:

			section
				.container
					.row
						.col-lg-2.col-md-3.col-6.mb-5
							.management-cover.bg-grey
							p.fs-15.management-type.text-uppercase: span Ehrenpräsident
							.management-name Hardy R. Voges

						.col-lg-2.col-md-3.col-6.mb-5
							.management-cover.bg-grey
							p.fs-15.management-type.text-uppercase: span 1. Vorsitzender
							.management-name Klaus Schmitz

						.col-lg-2.col-md-3.col-6.mb-5
							.management-cover.bg-grey
							p.fs-15.management-type.text-uppercase: span 2. Vorsitzender
							.management-name Stefan Schumacher

						.col-lg-2.col-md-3.col-6.mb-5
							.management-cover.bg-grey
							p.fs-15.management-type.text-uppercase: span Schatzmeister
							.management-name Hardy R. Voges

						.col-lg-2.col-md-3.col-6.mb-5
							.management-cover.bg-grey
							p.fs-15.management-type.text-uppercase: span Haus- und Platzwart
							.management-name Moritz Funke

						.col-lg-2.col-md-3.col-6.mb-5
							.management-cover.bg-grey
							p.fs-15.management-type.text-uppercase: span Leiter Hockeyabteilung
							.management-name Thomas Quinders

						.col-lg-2.col-md-3.col-6.mb-5
							.management-cover.bg-grey
							p.fs-15.management-type.text-uppercase: span Leiter Tennisabteilung
							.management-name Sebastian Dorfmüller

						.col-lg-2.col-md-3.col-6.mb-5
							.management-cover.bg-grey
							p.fs-15.management-type.text-uppercase: span Leiter Lacrosseabteilung
							.management-name Marius Lauen

						.col-lg-2.col-md-3.col-6.mb-5
							.management-cover.bg-grey
							p.fs-15.management-type.text-uppercase: span Hockey Jugendwärtin
							.management-name Susanne Förster

						.col-lg-2.col-md-3.col-6.mb-5
							.management-cover.bg-grey
							p.fs-15.management-type.text-uppercase: span Tennis Jugendwart
							.management-name Klaus Paleit

						.col-lg-2.col-md-3.col-6.mb-5
							.management-cover.bg-grey
							p.fs-15.management-type.text-uppercase: span Lacrosse Jugendwart
							.management-name Lena Vetter

						.col-lg-2.col-md-3.col-6.mb-5
							.management-cover.bg-grey
							p.fs-15.management-type.text-uppercase: span Sponsoring
							.management-name Dr. Edmund Labonté

						.col-lg-2.col-md-3.col-6.mb-5
							.management-cover.bg-grey
							p.fs-15.management-type.text-uppercase: span Events
							.management-name Andreas Vogel

						.col-lg-2.col-md-3.col-6.mb-5
							.management-cover.bg-grey
							p.fs-15.management-type.text-uppercase: span Geschäftsführung
							.management-name Torsten Bartel

						.col-lg-2.col-md-3.col-6.mb-5
							.management-cover.bg-grey
							p.fs-15.management-type.text-uppercase: span Leiterin Geschäftsstelle
							.management-name Karen Johns


			
		// Footer
		include partials/footer.pug
		
		// Script
		include partials/scripts.pug