footer {
    padding: 50px 0;

    h5 {
        margin-bottom: 20px;
        & + p {
            font-size: 15px;
            line-height: 1.8;
            letter-spacing: 0.78px;
        }
    }

    form {
        input {
            margin-right: 15px;
        }
    }

    hr {
        margin-top: 90px;
        margin-bottom: 14px;
        background: $white;
        opacity: 1;
    }

    .logo {
        margin-bottom: 20px;
        transform: none;
    }

    .footer-links {
        a {
            color: $white;
            font-size: 15px;
            margin: 0 7px;
        }
    }
}

// Responsive style
@media screen and (max-width: $mobile) {

    footer {
        padding-bottom: 25px;
        form {
            margin-bottom: 35px;
            button[type='submit'] {
                max-width: 200px;
            }
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 50%;
            left: 0;
            bottom: -7%;
            background: $white;
        }
        .col-md-4 {
            position: relative;
            z-index: 1;
            color: $dark;
        }
        h5 {
            margin-bottom: 10px;
            & + p {
                font-size: 14px;
                line-height: 22px;
                letter-spacing: .33px;
            }
        }

        .footer-links {
            margin-top: 35px;
            padding-top: 15px;
            display: flex;
            justify-content: space-between;
            position: relative;
            z-index: 1;
            &:after {
                content: "";
                position: absolute;
                width: 100vw;
                height: 1px;
                left: 50%;
                top: -1px;
                background: $dark;
                transform: translateX(-50%);
            }
            a {
                font-size: 14px;
                color: $dark;
            }
        }
    }
    
}